/MethodReferenceEx1.class
/EvenOddCheck$MethodReferenceEx1.class
/EvenOddCheck.class
/Predicate.class
/MethodReferenceEx1$1.class
/EvenOddCheckStatic.class
/EvenOddChecker.class
/MethodReferenceEx2.class
/BuildEmployee.class
/Employee.class
/BuildStudent.class
/Student.class
